





<div class="flex  items-center justify-center pb-52 px-7 py-10">

   <!--Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="mx-auto w-full max-w-[550px]">
    <form   [formGroup]="userForm" (ngSubmit)="onSubmit()" method="POST">
      <div class="mb-5">
        <div *ngIf="confmsgshow"><p class="text-green-500" >{{ confmsg }}</p></div>
        <div *ngIf="confmsgshow"><p class="text-red-700" >{{ nonconf }}</p></div>

        
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Full Name
        </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
          formControlName="name"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          ngModel
        />
      </div>
       


      <div class="mb-5">
        <label
          for="email"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Email Address
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@domain.com"
          formControlName="email"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          ngModel
        />
      </div>

      <div class="mb-5">
        <label
          for="message"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Message
        </label>
        <textarea
          rows="4"
          name="message"
          id="message"
          placeholder="Type your message"
          formControlName="text"
          maxlength="200"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          ngModel
          
        ></textarea>
      </div>
      
      <div>
        <button
          class="hover:shadow-form rounded-md bg-green-800 py-3 px-8 text-base font-semibold text-white outline-none"
        >
          invia
        </button>
      </div>
    </form>
  </div>
</div>



<app-footer></app-footer>



