<div class=" h-screen w-full bg-cover bg-center " style="background-image: url('/assets/2.JPG');">

    <div class="bg-gradient-to-r from-black h-screen w-4/5 items-center ">

        <div class="h-full w-full pl-16 pt-9 text-sky-300">
            <ul>
                
                <li class="text-4xl  font-bold p-2"><a href="#">Picchi post</a></li>
                <li class="text-2xl underline p-2"><a href="#">novita</a></li>
                <li class="text-2xl underline p-2"><a href="#">galleria</a></li>
                <li class="text-2xl underline p-2"><a href="#">chi sono</a></li>
                <li class="text-2xl underline p-2"><a href="#">contatti</a></li>
            </ul>
        </div>

    </div>


</div>
