

       
<div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm bg-gradient-to-r from-slate-700 via-gray-950 to-slate-700 dark:border-gray-700 m-9">
 
        <img class="rounded-t-lg" src="https://upload.wikimedia.org/wikipedia/commons/5/55/Bundesarchiv_Bild_183-17201-0016%2C_Berlin%2C_Bau_Karl-Marx-Allee%2C_Block_S%C3%BCdost%2C_Badezimmer.jpg" alt="">
 
        <div class="p-5">
           <a href="#">
             <h2 class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white">idraulica</h2>
            </a>
            <p class="font-normal text-gray-700 mb-3 dark:text-gray-300 text-base">Here are the biggest technology acquisitions of 2021 so far, in reverse chronological order.</p>
     
        </div>
</div>
