
<app-post-img></app-post-img>
<!-- component -->
<div class="flex flex-col">
    <div class="max-w-screen">
      <div>
        <div>
          <table class="min-w-full text-center text-sm font-light">
            <thead
              class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
              <tr>
                <th scope="col" class=" px-6 py-4">#</th>
                <th scope="col" class=" px-6 py-4">name</th>
                <th scope="col" class=" px-6 py-4">text</th>
                <th scope="col" class=" px-6 py-4">email</th>
                <th scope="col" class=" px-6 py-4">delete</th>
              </tr>
            </thead>
            <tbody *ngFor="let us of readData">
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium">{{us.id}}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{us.name}}</td>
                <td class="whitespace-nowrap break-all px-6 py-4"><p class="break-all">{{us.text}}</p></td>
                <td class="whitespace-nowrap break-normal  px-6 py-4">{{us.email}}</td>
                <td><button
                  type="button"
                  class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline"
                (click)="deleteID(us.id)"
                  >
                Delete
                </button></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>