<div class="flex items-center justify-center p-12">

    <!--Author: FormBold Team -->
   
   <div class="mx-auto w-full max-w-[550px]">
     <form [formGroup]="loginForm" (click)="login()"  method="POST">
       <div class="mb-5">
        
 
         
         <label
           for="Nadmin"
           class="mb-3 block text-base font-medium text-[#07074D]"
         >
           Admin token
         </label>
         <input
           type="text"
           name="Nadmin"
           id="name"
           placeholder="token"
           formControlName="Nadmin"
           class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
           ngModel
         />
       </div>
        
 
 
       <div>
         <button
           class="hover:shadow-form rounded-md bg-green-800 py-3 px-8 text-base font-semibold text-white outline-none"
          >
           invia
         </button>
       </div>

     </form>
   </div>
 </div>
