
<div  class="flex h-screen mb-60" >

    <div  class="w-full h-screen grid grid-flow-row  sm:grid-cols-1 md:grid-cols-2 items-center p-4">

        <div class="h-screen bg-no-repeat"  style="background-image: url(/assets/io.jpeg);"></div>
        <div class="p-7 font-bold text-l">Sono un fotografo naturalista toscano, appassionato della varietà di paesaggi che questa regione offre. Le mie foto riflettono la natura incontaminata, catturando dettagli sfuggenti e panorami mozzafiato. Dalle colline alle coste, cerco di trasmettere l'emozione e la bellezza che ho la fortuna di sperimentare ogni giorno, nella speranza di ispirare il rispetto e la conservazione ambientale.</div>
 
    </div>
   
</div>
<app-footer></app-footer>

    



